@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inicio da section content  */

main section.content{
    width: 75%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 3px 8px 8px 3px #d4d4d44d;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
}
main section.content .square-left{
    width: 40%;
    height: 100%;
    background-color: #58af9c;
    color: #efffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}
main section.content .square-left h1.title{
    font-size: 1.9em;
    margin: 0 0 8px 0;
    font-weight: 700;
}
main section.content .square-left p{
    font-weight: 200;
    line-height: 30px;
    margin: 0 0 20px 0;
}
main section.content .square-left button{
    padding: 9px 55px;
    border: 1px solid #efffff;
    background-color: transparent;
    color: #efffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    border-radius: 50px;
}
main section.content .square-left button:hover{
    background-color: #efffff;
    cursor: pointer;
    color: #58af9c;
}
/* fim da section content  */



/* Inicio da parte direita  */

main section.content .square-right{
    width: 60%;
    height: 100%;
    background-color: #FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section.content .square-right .title-account{
    font-size: 1.9em;
    font-weight: 700;
    color: #58af9c;
}
main section.content .square-right ul.list{
    margin: 25px 0;
}
main section.content .square-right ul.list li{
    display: inline;
    padding: 9px;
    margin-right: 8px;
    border-radius: 100%;
    border: 1px solid #9ea7a2;
    cursor: pointer;
}
main section.content .square-right ul.list li a{
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #9ea7a2;
}
main section.content .square-right ul.list li a i{
    width: 20px;
    height: 20px;
}
main section.content .square-right p{
    color: #9ea7a2;
    font-weight: 300;
    margin: 0 0 15px 0;
}
main section.content .square-right form.authentication{
    display: flex;
    flex-direction: column;
    
}
main section.content .square-right form.authentication input{
    padding: 10px;
    position: relative;
    z-index: 1;
}
main section.content .square-right form.authentication i{
    z-index: 2;
    position: absolute;
}
/* Fim da parte direita  */

