/* FONTE WORK SANS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto+Mono:ital@1&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

/*----------------*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
spam.bold {
  font-weight: 800;
}

/* INICIO NAV MENU E LOGO */

nav {
  width: 100%;
  height: auto;
}
nav .limited {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 0 0;
  box-sizing: border-box;
}
nav .limited h1.logo {
  font-size: 20px;
  font-weight: 400;
  z-index: 998;
}
nav .limited ul.menu {
  margin: 0 35px 0 0;
  font-size: 14px;
  z-index: 998;
}
nav .limited ul.menu li {
  display: inline;
  margin: 0 0 0 30px;
}
nav .limited ul.menu li.button-menu {
  padding: 13px 18px;
  border-radius: 3px;
  background-color: #6b76ff;
  cursor: pointer;
}
nav .limited ul.menu li.button-menu a {
  color: #fff;
}
nav .limited ul.menu li.button-menu a:hover {
  color: rgb(39, 39, 39);
}
nav .limited ul.menu li a {
  color: rgb(39, 39, 39);
}

/* FIM NAV MENU E LOGO */

/* INICIO CONTEÚDO SITE / HEADER  */

main {
  width: 100%;

  background-image: url(../image/bg_1.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
main .limited .overlay {
  background: linear-gradient(45deg, #6b75ff 0%, #6b75ff 0%, #59b7ff 100%);
  opacity: 0.08;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: auto;
  padding: 0 0 90px 0;
}
main .limited {
  width: 1110px;
  height: 556px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 90px 0 0 0;
  box-sizing: border-box;
}
main .limited section.left h2.title {
  font-size: 3.4em;
  font-weight: 200;
  line-height: 75px;
  margin: 0 0 30px 0;
  background: linear-gradient(45deg, #6b75ff 0%, #6b75ff 0%, #59b7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .limited section.left p.date {
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(39, 39, 39);
  margin: 0 0 30px 0;
}
main .limited section.left ul.clock {
  display: flex;
}
main .limited section.left ul.clock li {
  display: inline-block;
  border-right: 1px solid #e8e9ff;
  padding: 30px;
  font-weight: 200;
}
main .limited section.left ul.clock li.desactive {
  border-right: none;
}
main .limited section.left ul.clock li h5 {
  color: #6b75ff;
  font-weight: 200;
  font-size: 2.4em;
  padding: 0 0 15px 0;
  box-sizing: border-box;
}

/* FIM CONTEÚDO SITE / HEADER  */

section.content {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #f8f9fa;
}
section.content .limited {
  width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 110px 0 110px 0;
  box-sizing: border-box;
}
section.content .limited ul {
  display: flex;
  justify-content: space-between;
}
section.content .limited ul li {
  padding: 0 30px;
}
section.content .limited ul li i {
  background: linear-gradient(45deg, #6b75ff 0%, #6b75ff 0%, #59b7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7em;
}
section.content .limited ul li h3 {
  font-weight: 400;
  margin: 20px 0 10px 0;
  color: #383838;
}
section.content .limited ul li p {
  font-weight: 300;
  line-height: 30px;
  color: #666666;
}

/* FIM DA LINHA DE INFORMAÇÃO ABAIXO DA HEADER  */

section.about {
  width: 100%;
  height: auto;
  background-color: #fff;
}
section.about .limited {
  width: 1110px;
  height: auto;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
section.about .limited .img {
  background-image: url(../image/about.jpg.webp);
  background-size: cover;
  background-position: 60% 0%;
  background-repeat: no-repeat;
  width: 750px;
  height: 752px;
}
section.about .limited .information {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 0 0 60px;
  box-sizing: border-box;
}
section.about .limited .information .text-about h2 spam.subtitle {
  font-weight: 400;
  color: #969696;
  font-size: 0.4em;
  line-height: 50px;
}
section.about .limited .information .text-about h2 {
  font-weight: 400;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}
section.about .limited .information .text-about p.exclusive {
  font-weight: 300;
  color: #666;
  line-height: 30px;
  margin-bottom: 30px;
}
section.about .limited .information .lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.about .limited .information .lists ul li {
  padding: 40px 81px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.about .limited .information .lists ul li i {
  font-size: 1.9em;
  background: linear-gradient(45deg, #6b75ff 0%, #6b75ff 0%, #59b7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.about .limited .information .lists ul li h3 {
  font-weight: 400;
  font-size: 1.8em;
  margin: 20px 0 10px 0;
}
section.about .limited .information .lists ul li p {
  font-weight: 300;
  font-size: 0.94em;
}

/* FIM DO ABOUT  */
section.speakers {
  width: 100%;
  height: auto;
}
section.speakers .limited {
  width: 1110px;
  height: auto;
  margin: 0 auto;
}
section.speakers .limited .text-speakers {
  text-align: center;
  padding: 130px 0 100px 0;
}
section.speakers .limited .text-speakers h2 {
  font-weight: 400;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.8);
}
section.speakers .limited .text-speakers h2 spam.subtitle {
  font-weight: 400;
  color: #969696;
  font-size: 0.5em;
  line-height: 50px;
}
section.speakers .limited .imgs {
  display: flex;
  justify-content: space-between;
}
section.speakers .limited .imgs .peoples img {
  width: 340px;
  height: auto;
  border-bottom: 1px solid #59b7ff;
}
section.speakers .limited .imgs .peoples h3 {
  margin: 20px 0 8px 0;
  font-weight: 500;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}
section.speakers .limited .imgs .peoples h3,
p {
  text-align: center;
}
section.speakers .limited .imgs .peoples p {
  font-weight: 400;
  color: #969696;
  font-size: 1em;
  margin-bottom: 20px;
}
